@{
    ViewData["Title"] = "Главная";
}

<div style="padding: 10px;"></div>
@if (User.Identity.IsAuthenticated)
{
  <div class="card col-md-12">
  <div class="card-body">
    <h5 class="card-title text-center">Добро пожаловать на сайт MedicalIS</h5>
    <p class="card-text">
      На этом медицинском сайте вы сможете получить широкий спектр медицинских услуг, включая онлайн-консультации врачей, запись на прием к врачу, онлайн-диагностику, электронную медицинскую карту, заказ лекарств и организацию медицинских услуг на дому. Вы также можете ознакомиться с обучающими материалами о здоровом образе жизни, профилактике заболеваний и лечении различных заболеваний. Наш сайт предоставляет возможность получить квалифицированную помощь и информацию о вашем здоровье в любое удобное для вас время и место.
    </p>
    @* <p class="card-text"><small class="text-muted"></small></p> *@
  </div>
</div>

<div style="padding: 10px;"></div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  @if (User.IsInRole("Admin"))
  {
    <div class="col">
      <div class="card h-100">
        <img src="https://static-00.iconduck.com/assets.00/speed-icon-2048x2048-3jxhtv1e.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
        <div class="card-body text-center">
          <h5 class="card-title">Скорость</h5>
          <p class="card-text">На нашем сайте вы сможете получить быстрый доступ к медицинской помощи в любое время суток. Благодаря нашей оперативности, вы сможете быстро получить консультацию врача, записаться на прием и заказать лекарства.</p>
        </div>
      </div>
    </div> 
  }
  <div class="col">
    <div class="card h-100">
      <img src="https://cdn-icons-png.flaticon.com/512/291/291527.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
      <div class="card-body text-center">
        <h5 class="card-title">Качество</h5>
        <p class="card-text">
          Мы гарантируем высокое качество медицинских услуг, которые предоставляют наши врачи. Все наши специалисты имеют высшее медицинское образование и большой опыт работы в своей области. Мы стремимся к тому, чтобы каждый пациент получил максимально качественную помощь.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="https://cdn-icons-png.flaticon.com/512/5778/5778403.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
      <div class="card-body text-center">
        <h5 class="card-title">Удобство</h5>
        <p class="card-text">Наш сайт создан с учетом потребностей современного человека. Вы можете получить медицинскую помощь не выходя из дома, воспользовавшись онлайн-консультацией или заказав лекарства с доставкой на дом. Мы делаем все возможное, чтобы обеспечить максимальный комфорт и удобство для наших пациентов.</p>
      </div>
    </div>
  </div>
</div>

@* <div style="padding: 10px;"></div> *@
@* <div class="card"> *@
@*   <div class="card-body"> *@
@*     <h5 class="card-title">Основные виды кузовов</h5> *@
@*     <p class="card-text"> *@
@*       Тип кузовной конструкции легко определяется по внешнему виду автомобиля. Для каждого класса характерны отличительные черты, *@
@*       которые легко обнаружить даже при наличии небольшого опыта. Кроме того, свою роль в классификации играет и способ реализации багажного отделения, *@
@*       которое может быть объединено с пассажирским салоном или отделено от него *@
@*     </p> *@
@*     <a href="#" class="card-link">Card link</a> *@
@*     <a href="#" class="card-link">Another link</a> *@
@*   </div> *@
@* </div> *@

@* <div style="padding: 10px;"></div> *@
@* <div class="card"> *@
@*   <div class="card-body"> *@
@*     <h5 class="card-title">Наибольшим спросом пользуются легковые автомобили со следующими типами кузова</h5> *@
@*   </div> *@
@*   <ul class="list-group list-group-flush" id="ulListId"> *@
@*     <li class="list-group-item">Седан — самый распространенный вариант</li> *@
@*     <li class="list-group-item">Универсал — семейный автомобиль с большими возможностями</li> *@
@*     <li class="list-group-item">Хэтчбек — укороченный вариант универсала</li> *@
@*     <li class="list-group-item">Лифтбек — комбинация универсала и седана</li> *@
@*     <li class="list-group-item">Купе — машина для ценителей личного пространства</li> *@
@*     <li class="list-group-item">Лимузин — показная роскошь</li> *@
@*     <li class="list-group-item">Кабриолет всегда притягивает взгляды</li> *@
@*     <li class="list-group-item">Внедорожник — повышенная прочность и надежность</li> *@
@*   </ul> *@
@*   <div class="card-body"> *@
@*     <button class="btn btn-danger" id="btnHideId">Скрыть</button> *@
@*     <button class="btn btn-primary" id="btnShowId">Показать</button> *@
@*   </div> *@
@* </div> *@
}
else
{
  <div class="card">
    <div class="card-header">
      Вы не авторизовались
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Для просмотра контента вы должны авторизоваться</p>
      </blockquote>
    </div>
  </div>
  
  <div style="padding: 10px;"></div>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://static-00.iconduck.com/assets.00/speed-icon-2048x2048-3jxhtv1e.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        @* <div class="card-footer"> *@
        @*   <small class="text-muted">BMW i8</small> *@
        @* </div> *@
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://cdn-icons-png.flaticon.com/512/291/291527.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        @* <div class="card-footer"> *@
        @*   <small class="text-muted">Mustang</small> *@
        @* </div> *@
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://cdn-icons-png.flaticon.com/512/5778/5778403.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 50%;"/>
        <div class="card-body">
          <h5 class="card-title text-center">Недоступно</h5>
        </div>
        @* <div class="card-footer"> *@
        @*   <small class="text-muted">BMW</small> *@
        @* </div> *@
      </div>
    </div>
  </div>
}

@section pageScripts
{
    <script>
    
    $('#btnHideId').click(function(){
      $('#ulListId').hide(2000);
    });
    
    $('#btnShowId').click(function () {
      $('#ulListId').show(2000);
    });
  </script>
}
