@model dynamic

@{
    ViewBag.Title = "В разработке";
    Layout = "_Layout";
}

<div class="row align-content-center" style="align-self: center; justify-self: center;">
    <div class="row text-center row-cols-1">
        <div class="col-sm" style="padding: 10px;">
            <div class="card h-100">
                <img src="https://img.uxwing.com/wp-content/themes/uxwing/download/business-professional-services/working-on-office-icon.png" class="card-img-top card-image pt-2 img-fluid mx-auto" style="max-width: 60%;"/>
                <div class="card-body">
                    <h5 class="card-title">Ещё работаем над этим</h5>
                </div>
            </div>
        </div>
    </div>
</div>

