.backgroundImage {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-03/1614795829_21-p-fon-dlya-meditsinskoi-prezentatsii-21.jpg");
    background-size: cover;
    background-attachment: fixed;
}